{% extends 'dashboard/base.html'%}

{%block title%}Flow Asset - Assigned Asset{%endblock%}

{%block page_header%}Employee Dashboard{%endblock%}

{%block side_bar%}
<!-- sidebar -->
<div class="sidebar" id="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li>
            <a href="{{url_for('main.index')}}" >
                <i class="fa-solid fa-user"></i><span>Dashboard</span>
            </a>
        </li>
        {%block specific_nav_link%}
        <li>
            <a href="{{url_for('main.request_asset')}}">
                <i class="fa-solid fa-bars-progress"></i><span>Request Asset</span>
            </a>
        </li>
        {%endblock%}
        <li>
            <a href="{{url_for('main.view_assets', employee_number=current_user.employee_number)}}">
                <i class="fa-solid fa-list-check"></i><span>Assigned Assets</span>
            </a>
        </li>
        <li class="logout">
            <a href="{{url_for('auth.logout')}}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i><span>Log Out</span>
            </a>
        </li>
    </ul>
</div>
{%endblock%}

{%block page_content %}
<div class="assetWrapper">
    <div class="head">
        <h2>Assigned Assets</h2>
        <a href=""> Create new request <i class="fa-solid fa-plus" ></i> </a> 
    </div>
    <div class="requestTable">
        <table>
            <thead>
                <tr>
                    <th class="idRow">Item ID</th>
                    <th class="idRow">Asset Type</th>
                    <th class="nameRow">Name</th>
                    <th class="quantityRow">Quantity</th>
                    <th class="dateRow">Date Assigned</th>
                </tr>
            </thead>
            <tbody>
            {%if assigned_assets%}
            {%for assigned_asset in assigned_assets%}
            <tr>
                <td>{{assigned_asset.item_id}}</td>
                <td>{{assigned_asset.item.asset.name}}</td>
                <td>{{assigned_asset.item.name}}</td>
                <td>{{assigned_asset.quantity}}</td>
                <td>{{assigned_asset.assigned_date}}</td>
                <td><a class="btn btn-outline-danger" href="{{url_for('main.relenquish_asset', id=assigned_asset.item.id)}}" role="button">Relenquish</a></td>
            </tr>
            {%endfor%}
            {%else%}
            <tr class="nodata">
                <td colspan="5">No data available</td>
            </tr>
            {%endif%}
            </tbody>
        </table>
    </div>
    </div>
{%endblock%}