{% extends 'dashboard/base.html'%}

{%block title%}Flow Asset - Dashboard{%endblock%}

{%block page_header%}Employee Dashboard{%endblock%}

{%block side_bar%}
<!-- sidebar -->
<div class="sidebar" id="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li>
            <a href="{{url_for('main.index')}}" >
                <i class="fa-solid fa-user"></i><span>Dashboard</span>
            </a>
        </li>
        {%block specific_nav_link%}
        <li>
            <a href="{{url_for('main.request_asset')}}">
                <i class="fa-solid fa-bars-progress"></i><span>Request Asset</span>
            </a>
        </li>
        {%endblock%}
        <li>
            <a href="{{url_for('main.view_assets', employee_number=current_user.employee_number)}}">
                <i class="fa-solid fa-list-check"></i><span>Assigned Assets</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="{{url_for('main.index')}}" class="dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-circle-user"></i><span>Account</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="{{url_for('main.profile', employee_number=current_user.employee_number)}}">Profile</a></li>
                <li><a class="dropdown-item" href="{{url_for('auth.change_email_request')}}">Change Email</a></li>
                <li><a class="dropdown-item" href="{{url_for('auth.change_password')}}">Something else here</a></li>
            </ul>
        </li>
        <li class="logout">
            <a href="{{url_for('auth.logout')}}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i><span>Log Out</span>
            </a>
        </li>
    </ul>
</div>
{%endblock%}

{%block page_content %}
<!-- cards -->
<div class="cardContainer">
    <div class="place-request-card cards">
        <div class="cardHeader">
            <h3>Pending Requests</h3>
            <!-- a logic to get the number of pending request goes here -->
            <p id="numberOfRequestsPending">{{pending_requests_count}}</p> 
        </div>
        <div class="cardBtn">
            <a href="{{url_for('main.request_asset')}}"><button>Place new request</button></a>
        </div>
    </div>
    <div class="view-request-card cards">
        <div class="cardHeader">
            <h3>Assets Requested</h3>
            <!-- a logic to get the number of requested assets goes here -->
            <p id="numberOfAssetsRequested">{{request_count}}</p>
        </div>
        <div class="cardBtn">
            <a href="{{url_for('main.requests')}}"><button>View all Requests</button></a>
        </div>
    </div>
    <div class="cards">
        <div class="cardHeader">
            <h3>Assigned Assets</h3>
            <!-- a logic to get the number of assigned assets goes here -->
            <p id="numberOfAssignedAssets">{{assigned_asset_count}}</p>
        </div>
        <div class="cardBtn">
            <a href="{{url_for('main.view_assets', employee_number=current_user.employee_number)}}"><button>View All Assets</button></a>
        </div>
    </div>
</div>

<!-- assets -->
<div class="requestWrapper" id="requestSection">
<div class="head">
    <h2>Requests</h2>
    <a href="{{url_for('main.request_asset')}}"> Create new request <i class="fa-solid fa-plus" ></i> </a> 
</div>
<div class="requestTable">
    <table>
        <thead>
            <tr>
                <th class="idRow">Asset ID</th>
                <th class="nameRow">Name</th>
                <th class="quantityRow">Asset Type</th>
                <th class="quantityRow">Quantity</th>
                <th class="dateRow">Request Date</th>
                <th class="statusRow">Status</th>
            </tr>
        </thead>
        <tbody>
            {%if pending_requests%}
            {%for request in pending_requests %}
            <tr>
                <td>{{request.item.serial_number}}</td>
                <td>{{request.item.asset.name}}</td>
                <td>{{request.item.name}}</td>
                <td>{{request.quantity}}</td>
                <td>{{request.request_date}}</td>
                <td>{{request.status}}</td>
                <td><a class="btn btn-outline-danger" href="{{url_for('main.cancel_request', id=request.id)}}" role="button">Cancel</a></td>
            </tr>
            {%endfor%}
            {%else%}
            <tr class="nodata">
                <td colspan="5">No data available</td>
            </tr>
            {%endif%}
        </tbody>
    </table>
</div>
</div>
{%endblock%}
