{% extends 'dashboard/base.html'%}

{%block title%}Flow Asset - Manager Dashboard{%endblock%}
{%block side_bar%}
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li>
                <a href="{{url_for('main.mg.manager_dashboard')}}" >
                    <i class="fa-solid fa-user"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{url_for('main.mg.asset_inventory')}}">
                    <i class="fa-solid fa-bars-progress"></i><span>Inventory</span>
                </a>
            </li>
            <li class="logout">
                <a href="{{url_for('auth.logout')}}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i><span>Log Out</span>
                </a>
            </li>
        </ul>
    </div>
{%endblock%}
    
<!-- main content -->
{%block page_header%}Manager Dashboard{%endblock%}
{%block page_content %}
<div class="requestManager">
    <div class="sectionHeader">
        <h2>Stock</h2>

        <select class="filterDropdown">
            <option>All Statuses</option>
            <option>Pending</option>
            <option>Approved</option>
            <option>Declined</option>
        </select>
    </div>
    <table>
        <thead>
            <tr>
                <th>Item S/N</th>
                <th>Asset Category</th>
                <th>Item Name</th>
                <th>Total Quantity</th>
                <th>Avaliable Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% if stocks %}
                {% for stock in stocks%}
                <tr>
                    <td>{{stock.item.serial_number}}</td>
                    <td>{{stock.item.asset.name}}</td>
                    <td>{{stock.item.name}}</td>
                    <td>{{stock.total_quantity}}</td>
                    <td>{{stock.available_quantity}}</td>
                {%endfor%}
            {%else%}
            <tr>
                <td colspan="6"> No Data Available</td>
            </tr>
            {%endif%}
        </tbody>
    </table>
</div>
{%endblock%}