{% extends 'dashboard/base.html'%}

{%block side_bar%}
<div class="sidebar" id="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li>
            <a href="{{url_for('main.hr.hr_dashboard')}}" >
                <i class="fa-solid fa-user"></i><span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('main.hr.view_all_assigned_assets')}}">
                <i class="fa-solid fa-list-check"></i><span>Assigned Assets</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('main.hr.view_employees')}}">
                <i class="fa-solid fa-users-line"></i><span>Employees</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('main.hr.add_employee')}}">
                <i class="fa-solid fa-users-line"></i><span>Create Employee</span>
            </a>
        </li>
        <li class="logout">
            <a href="{{url_for('auth.logout')}}">
                <i class=""></i><span>Log Out</span>
            </a>
        </li>
    </ul>
</div>
{%endblock%}

<!-- main content -->
{%block page_header%}HR Dashboard{%endblock%}

{%block page_content %}
<div class="headerTitle">
    <h2>Assigned Asset</h2>
</div>
<div class="hrAsset">
    <table>
        <thead>
            <tr>
                <th id="">Item ID</th>
                <th id="">Asset Type</th>
                <th id="">Item ID</th>
                <th id="">Employee Name</th>
                <th id="">Date Assigned</th>
                <th id="">Return Date</th>
                <th id="">Quantity</th>
                <th id="">Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- a data row example  -->
            <!-- all tables need to be conected to the database to fill up with it's data  -->
            {%if assigned_assets%}
            {%for asset in assigned_assets%}
            <tr>
                <td>{{asset.item.serial_number}}</td>
                <td>{{asset.item.asset.name}}</td>
                <td>{{asset.item.serial_number}}</td>
                <td>{{asset.employee.username}}</td>
                <td>{{asset.assigned_date}}</td>
                <td>{{asset.return_date}}</td>
                <td>{{asset.quantity}}</td>
                <td>{{asset.status}}</td>
                <td><a class="btn btn-outline-danger" href="{{url_for('main.relenquish_asset', id=asset.item.id)}}" role="button">Relenquish</a></td>
            </tr>
            {%endfor%}
            {%else%}
            <tr class="nodata">
                <td colspan="5">No data available</td>
            </tr>
            {%endif%}
        </tbody>
    </table>
</div>
{%endblock%}
